@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    padding: 2rem 10rem;
}

.text-regular{
    font-size: 15px;
}
.text-regular-sm{
    font-size: 12px;
}
.title-page{
    font-size: 32px;
    font-weight: bold;
    color: #fb923c;
}
.title-field{
    font-size: 24px;
    color: #505050;
    font-weight: bold;
}